@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle farthest-corner at 35% 90%,
            #fec564,
            transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%,
            #5258cf,
            transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%,
            #893dc2,
            transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca,
            #bc318f 30%,
            #e33f5f 50%,
            #f77638 70%,
            #fec66d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 650px;
    width: 480px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transform-origin: center;
}

#container #img {
    margin: 15px;
    margin-bottom: 0px;
    height: 430px;
    width: calc(100% - 30px);
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

#heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
    gap: 10px;
}

#dp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
}

#dp>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#dots {
    margin-left: auto;
    margin-right: 10px;
    font-size: 25px;
}

#container #like {
    color: white;
    font-size: 75px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -95%) scale(0);
    transition: all ease-in 0.2s;
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

#description-icons {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 13px;
    padding-top: 7px;
    gap: 5px;
}

#description-icons i {
    font-size: 30px;
}

#save {
    margin-left: auto;
    margin-right: 10px;
}

#description {
    padding: 15px;
    padding-top: 5px;
}

#des1 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

#caption {
    margin-left: 7px;
    color: #000;
    padding-top: 1px;
}

#comm {
    padding-bottom: 5px;
    font-weight: 600;
}

#des2 {
    color: #a5a5a5;
}

h3 {
    font-weight: 600;
}
